@import "_select";
@import "_checkbox";
@import "_radio";
@import "_options";
@import "_quantity";
@import "_input";
@import "_textarea";

//<FORM ()>====================================================================================================
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
	}
}

//</FORM>====================================================================================================

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
